<div class="container">
    <h2>Libraries</h2>

    <div class="well">
        <ul class="nav nav-pills">
            {{#link-to 'libraries.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
            {{#link-to 'libraries.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
        </ul>
    </div>
</div>

{{outlet}}